button{
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    align-items: center;
    transform: translate(50,50);
}
button:hover{
    background-color: #45a049;
    padding: 15px;
    border: 3px solid;
    animation-name: borderColor;
    transition: all;
    animation-duration: 10s;
}
@keyframes borderColor{
    0%{
        border-color: red;
    }
    10%{
        border-color: yellow;
    }
    20%{
        border-color: green;
    }
    30%{
        border-color: orange;
    }
    40%{
        border-color: purple;
    }
    50%{
        border-color: pink;
    }
    60%{
        border-color: cyan;
    }
    70%{
        border-color: magenta;
    }
    80%{
        border-color: brown;
    }
    90%{
        border-color: violet;
    }
    100%{
        border-color: blue;
    }
}